@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family:'Poppins', sans-serif;
    color:#333;
    font-weight: 500;
}

h1{
    font-size: 35px !important;
    font-weight: 700 !important;
    line-height: 35px !important;

}

h2{
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 25px !important;
}

h3{
    font-size: 17px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
}

h4{
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 15px !important;

}

h5{
    font-size: 14px !important;
    font-weight: 500 !important;
     
}

.columns-block{
    display: flex;
    flex-wrap: wrap;
}
.left-column-block{
    background-color : skyblue;
    height: 100vh;
    width: 50%;
    position: fixed;
    overflow: hidden;
    text-align: center;
    left:0;
     
}

.header{
    height: 100vh;
    padding:0;
    margin:0;
    vertical-align: middle;
    position: relative;
}

.header .content {
  
      

     position: absolute;
     width: 100%;
     bottom: 70px;
     right: 0;
     margin: 0 auto;
     padding: 5%;
     z-index: 1;
}



.header .content h1{
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
    
}
.header .content p{
    font-size: 20px;
    color: white;
    
    
}
.header .content .social-icons {
    display: block  ;
    padding:0;
    margin:0;
}
.header .content .social-icons li {
    display: inline-block  ;
    margin:0 4px;
}
.header .content .social-icons li a {
    color: white;
    display: block  ;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border : 2px solid grey ;
    border-radius: 50%;
    font-size: 25px;
     
}

.header .profile-image{
    background-image: url(../image/IMG-20181108-WA0062.jpg) ;
    width : 100%;
    height:100%;
    background-size: cover;
}

.header .profile-image:before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(160deg, transparent 20%, rgba(255, 0, 0, 0.411) ) ;
}

.header .content .social-icons li a:hover {
     border-color: white;
}

.right-column-block{
    background-color : white;
    height: 100vh;
    width: 50%;
    right:0;
    position: absolute;
}

.section-wrapper{
    padding: 35px;
}
.section-title{
     margin-bottom:20px;
}
.section-title h2{
    color: #444;
}

.expertise-item{
margin-bottom: 30px;
}
.expertise-item h3{
    color: #333;
    margin-bottom: 5px;
    }

    .grey-bg {
        background-color: #F9F9F9;
    }

    .form-control{
        padding: 15px;
        font-size:15px;
        border-radius: 0 !important
        

    }
    .form-group  {
        margin-bottom:5px;
        margin-top:  5px;
      
    }
     
    .btn{
        padding: 15px;
        font-size:15px;
        font-weight: bold;
        border-radius:0 !important;
        background-color: #1c1ee6 !important;
    }

    .footer{
        padding: 30px 30px;
    }

    .footer .footer-section {
        font-size: 14px;
        color:#888;
    }

    /* .map{
        width:"400px" !important ;
        height:"270px" !important;
    } */

    @media (max-width:600px){
        .left-column-block{
            width: 100%;
            position: relative;
        }
        .right-column-block{
            width: 100%;
            position: relative;
        }
        .map{
            width: 100% !important;
            
        }
    }